.encabezado{
    background-color: #e2cff9;
    text-align: center;
    
}

.logo{
    align-self: center;
    padding: 30px;
    width: 150px;
    border-radius: 100px;
}

.titulo_principal{
    color:#5d379f;
    background-color: #d1b4fc;
    text-align: center;
    font-size: larger;
    padding: 10px;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.contenedor.vacio{
    height: 140px;
}

.contenedor{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;  
}

.subtitulo{
    background-color: #d1b4fc ;
    color:#5d379f;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.listado{
    padding: 20px;
}

.listado.personales{
    list-style: disc;
    padding: 20px 20px 20px 45px;
}

.item{
    padding: 10px;
    display: flex;
    
}

.item_personales{
    margin: 10px;
}

.resaltado{
    font-weight: bold;
}

.resaltado.personales{
    font-style: italic ;
}

.texto_secundario{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.texto_secundario_personales{
    padding: 0 10px;
}

footer{
    display: flex;
    background-color: #5d379f;
    color: white;
    padding: 20px;
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    
    
}

.texto_footer{
    font-size: 30px;
    padding: 10px 30px;
}

.instagram{
    width: 50px;
    margin: 0 25px;
}

.linkedin{
    width: 45px;
    margin: 0 80px 0 25px;
}
